<h1>Hi <%= name %></h1>
<form action='/logout?_method=DELETE' method='POST'>
    <button type='submit'>Log Out</button>
</form>
<form action ="/taken-courses" method="GET">
    <button type='submit'>Taken Courses</button>
</form>